@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container">
    <div class="app-description">
        Самая клевая соц.сеть
    </div>
    <div class="app-authorization">
        <div class="enter-header">
            Вход в приложение
        </div>
        <br />
        <div class="autorization-form">
            <div class="email-input">
                <input type="text" placeholder="Email">
            </div>
            <br />
            <div class="password-input">
                <input type="text" placeholder="Password">
            </div>
            <br />
            <div class="remember-me">
                Запомнить?
                <input type="checkbox">
            </div>
            <div class="enter">
                <button>Войти</button>
            </div>
        </div>
        <div class="registration-header">
            Регистрация нового пользователя
        </div>
        <br />
        <div class="autorization-form">
            <div class="name-input">
                <input type="text" placeholder="Имя">
            </div>
            <br />
            <div class="lastname-input">
                <input type="text" placeholder="Фамилия">
            </div>
            <br />
            <div class="registration">
                <button>Регистрация</button>
            </div>
        </div>
    </div>
    
</div>





